**/__pycache__/
vifminfo
vifminfo.json
.config/vim/.vim/.netrwhist
konsole/bookmarks*
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/qsettings/
.config/xmonad/xmonad.hi
.config/xmonad/xmonad.o
.config/xmonad/.stack-work/
.config/xmonad/stack.yaml.lock
.config/nvim/plugin/packer_compiled.lua
